<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/brianberns/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="brianberns" />
			<add key="ClearTextPassword" value="oy2b5v3iprwe3uf5pb4acu72gemi6q5e3fzuvdq3qmt3t4" />
		</github>
	</packageSourceCredentials>
</configuration>